.icon {
  display: inline-block;
  color: inherit;
}

.icon--size-sm {
  font-size: 1rem;
}

.icon--size-md {
  font-size: 1.2rem;
}

.icon--size-lg {
  font-size: 1.4rem;
}

.icon--margin-left {
  margin-left: 4px;
}

.icon--margin-right {
  margin-right: 4px;
}
