.hrlocker {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  min-width: 150px;
}

.hrlocker__buttons {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 8px;
}

.hrlocker__buttons > * {
  width: calc(50% - 4px);
}

.hrlocker__label {
  text-align: right;
  justify-content: flex-end;
}
