.Habitica {
  color: #ffffff;
}

.Habitica__Label {
  margin-bottom: 8px;
  opacity: 0.6;
}

.Habitica ul {
  padding: 0;
  margin: 0 0 16px;
  list-style: none;
}

.Habitica li {
  display: flex;
  align-items: center;
  margin-bottom: 4px;
}

.Habitica__Task {
  opacity: 0.6;
  cursor: pointer;
}

.Habitica__Task:hover {
  opacity: 1;
}

.Habitica__Checkbox {
  font-size: 18px;
  margin-right: 4px;
}

.Habitica__Habit span {
  opacity: 0.6;
}

.Habitica__Habit-Button {
  cursor: pointer;
  font-size: 18px;
  margin-right: 4px;
  margin-bottom: -1px;
  opacity: 0.6;
}

.Habitica__Habit-Button:hover {
  opacity: 1;
}

.Habitica__Stat {
  width: 100px;
}
