.HRLocker {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  color: #ffffff;
}

.HRLocker__Row {
  display: flex;
  justify-content: space-between;
}

.HRLocker__Row:not(:last-child) {
  margin-bottom: 8px;
}

.HRLocker__Label {
  opacity: 0.6;
  justify-content: flex-end;
}

.HRLocker__Action {
  opacity: 0.6;
  cursor: pointer;
}

.HRLocker__Action:hover {
  opacity: 1;
}

.HRLocker__Action:not(:last-child) {
  margin-right: 8px;
}
